{
  "openapi": "3.0.3",
  "info": {
    "title": "Energy Regulation Volume (Notification) API",
    "version": "1.0.0",
    "description": "Minimal OAS 3.0 model for the EnergyRegulationVolumeNotification business service. Field definitions and multiplicities are taken from the Business Service - GOPACS specification."
  },
  "servers": [
    {
      "url": "https://api.example-dso.com/v1",
      "description": "Example DSO API (replace per deployment)"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/energy-regulation/notifications": {
      "post": {
        "summary": "Submit Energy Regulation Volume Notification (provider -> consumer/MMC-Hub)",
        "description": "Accepts an EnergyRegulationVolumeNotification payload. This maps to the XML message EnergyRegulationVolumeNotification (see Business Service sections 4 & 7).",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnergyRegulationVolumeNotification"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Notification accepted (created)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationReceipt"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (see receiver validation rules in spec).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/energy-regulation/acknowledgements": {
      "post": {
        "summary": "Submit Acknowledgement / Response to a Notification (consumer -> provider/MMC-Hub)",
        "description": "Accepts acknowledgement (confirmation or rejection). This maps to the EnergyRegulationVolumeAcknowledgement message described in the Business Service.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnergyRegulationVolumeAcknowledgement"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AckReceipt"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "EnergyRegulationVolumeNotification": {
        "type": "object",
        "required": [
          "mRID",
          "startDateTime",
          "endDateTime",
          "marketProductType",
          "product",
          "measureUnit",
          "accountingPoint",
          "marketDocument",
          "marketParticipant",
          "marketRole",
          "processType",
          "series"
        ],
        "properties": {
          "mRID": {
            "type": "string",
            "description": "Unique identifier (UUID) for the message (MarketDocument.mRID).",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "startDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 UTC start date/time (YYYY-MM-DDThh:mm:ssZ).",
            "example": "2026-10-28T16:00:00Z"
          },
          "endDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 UTC end date/time. Must be same calendar day and multiple of 15 minutes.",
            "example": "2026-10-28T16:30:00Z"
          },
          "marketProductType": {
            "type": "string",
            "description": "Regulation direction. RU = Regulation Up, RD = Regulation Down.",
            "enum": ["RU", "RD"],
            "example": "RU"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "measureUnit": {
            "type": "string",
            "description": "Unit code (ebIX list). MAW = Megawatt.",
            "example": "MAW"
          },
          "accountingPoint": {
            "$ref": "#/components/schemas/AccountingPoint"
          },
          "marketDocument": {
            "$ref": "#/components/schemas/MarketDocument"
          },
          "marketParticipant": {
            "$ref": "#/components/schemas/MarketParticipant"
          },
          "marketRole": {
            "type": "string",
            "description": "EbIX market role (e.g. DDK = Balance Responsible Party).",
            "example": "DDK"
          },
          "processType": {
            "type": "string",
            "description": "ENTSO-E process type. A41 = Redispatch.",
            "example": "A41"
          },
          "series": {
            "type": "object",
            "required": ["mRID", "product", "resolution", "points"],
            "properties": {
              "mRID": {
                "type": "string",
                "description": "Series identifier (UUID)."
              },
              "product": {
                "$ref": "#/components/schemas/Product"
              },
              "resolution": {
                "type": "string",
                "description": "ISO 8601 duration for step resolution (e.g. PT15M).",
                "example": "PT15M"
              },
              "points": {
                "type": "array",
                "minItems": 1,
                "items": {
                  "$ref": "#/components/schemas/Point"
                }
              }
            }
          }
        }
      },
      "Product": {
        "type": "object",
        "required": ["identification"],
        "properties": {
          "identification": {
            "type": "string",
            "description": "Product identification (ebIX code).",
            "example": "8716867000030"
          }
        }
      },
      "AccountingPoint": {
        "type": "object",
        "required": ["mRID"],
        "properties": {
          "mRID": {
            "type": "string",
            "description": "EAN18 accounting point identifier.",
            "example": "871234500000000001"
          }
        }
      },
      "MarketDocument": {
        "type": "object",
        "required": ["mRID", "createdDateTime"],
        "properties": {
          "mRID": {
            "type": "string"
          },
          "createdDateTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MarketParticipant": {
        "type": "object",
        "required": ["mRID"],
        "properties": {
          "mRID": {
            "type": "string",
            "description": "EAN13 market participant identifier.",
            "example": "1234567890123"
          }
        }
      },
      "Point": {
        "type": "object",
        "required": ["position", "quantity"],
        "properties": {
          "position": {
            "type": "integer",
            "example": 1
          },
          "quantity": {
            "type": "number",
            "multipleOf": 0.001,
            "example": 1.234
          }
        }
      },
      "EnergyRegulationVolumeAcknowledgement": {
        "type": "object",
        "required": ["mRID", "createdDateTime", "code"],
        "properties": {
          "mRID": {
            "type": "string"
          },
          "relatedNotificationMRID": {
            "type": "string"
          },
          "createdDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "code": {
            "type": "string",
            "example": "000"
          },
          "reason": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "text": {
                "type": "string"
              }
            }
          }
        }
      },
      "NotificationReceipt": {
        "type": "object",
        "properties": {
          "mRID": {
            "type": "string"
          },
          "receivedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AckReceipt": {
        "type": "object",
        "properties": {
          "mRID": {
            "type": "string"
          },
          "processedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}